@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    font-family: 'Kalam', cursive;

    
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
header{
    background-color:#f5e050;
    text-align: center;
    
}
h1{
    padding: 2rem 0;
    color: #333333;
}



textarea{
    display: block;
    max-width: 100%;
   

    
}
.first-text-area{
    margin: 2rem 0;
    
}
button{
    background-color: #f5e050;
    padding: 15px 25px;
    font-family: 'Kalam', cursive;
    margin-bottom: 1rem;
    color: #333333;
    border: none;
    cursor: pointer;
}
footer{
    /* border: 1px solid red; */
    background-color: #f5e050;
    padding-bottom:20px ;
   
}
.container{
    /* border: 1px solid green; */
    max-width: 60%;
     margin: 0 auto;
     text-align: center;
}
h2{
    margin: 10px 0;
    color: #333333;
}
.container-modify{
    text-align: left;
}
p{
  line-height: 23px;
  color: #333333;
}
h3{
    color: #333333;
}